---
title: dougie.io - Coding & Business
layout: base
nonav: true
---

.home-hero
	.text-container: .text
		.theHeading dougie.io
		.theSubtitle.hidden Coding & Business
		.columns.is-mobile#page-icons
			.column
				a(href="/articles").circle#blog: span.fa.fa-newspaper-o
				.iconTitle Articles
			.column
				a(href="/tutorials").circle#book-notes: span.fa.fa-book
				.iconTitle Tutorials
			.column
				a(href="/projects").circle#projects: span.fa.fa-suitcase
				.iconTitle Projects
			.column
				a(href="/contact").circle#contact: span.fa.fa-envelope
				.iconTitle Contact

#blog-roll-homepage
	h2#recent Recent Articles
	ul
		| {% for post in site.posts limit:5 %}
		li
			a(href="{{post.url}}")
				.
					{% if post.icon %}
						{% assign icon_name = post.icon %}
					{% else %}
						{% assign icon_name = "newspaper-o" %}
					{% endif %}
				span(class="fa fa-{{icon_name}}")
				| {{post.title}}
		| {% endfor %}
		| {% assign amt_of_posts = site.posts | size %}
		| {% if amt_of_posts > 5 %}
		a(href="/articles"): button.button#all-articles View all Articles
		| {% endif %}

