---
title: My Projects
layout: page
---

| {% assign rows = site.data.projects.size | divided_by: 2.0 | ceil %}

| {% for i in (1..rows) %}
.columns.is-tablet#projects_loop
	| {% assign offset = forloop.index0 | times: 2 %}
	| {% for project in site.data.projects limit:2 offset:offset %}
	| {% assign project_slug = project.title | downcase | replace: ' ', '_'%}
	.column(id="project_{{project_slug}}"): .card
		.card-image: figure
			a(href="{{project.url}}", target="_blank"): #thumbnail(style="background-image: url({{project.thumbnail}});")
		.card-content
			h2.title.is-3#title {{project.title}}
			h3.subtitle.is-5#subtitle {{project.users}} {{project.users_metric}}
			p#description {{project.description}}
			a(href="{{project.url}}", target="_blank").button.is-danger.is-outlined {{project.title}} website
	| {% endfor %}
| {% endfor %}
