nav.navbar
	.navbar-brand
		a.navbar-item(href='/') dougie.io
		.navbar-burger.burger(data-target='myNav')
			span
			span
			span
	#myNav.navbar-menu
		.navbar-start
			a.navbar-item(href='/blog/') Blog
			a.navbar-item(href='/book-notes/') Book Notes
			.navbar-item.has-dropdown.is-hoverable
				a.navbar-link(href='/projects/')
					| Projects
				.navbar-dropdown.is-boxed
					| {% for project in site.data.projects %}
					| {% assign project_slug = project.title | downcase | replace: ' ', '_'%}
					a.navbar-item(href='/projects/#project_{{project_slug}}')
						| {{project.title}}
					| {% endfor %}
			a.navbar-item(href='/contact/') Contact
		.navbar-end
			.navbar-item
				.field.is-grouped
					p.control
						a.bd-tw-button.button(href="https://twitter.com/@dougbeney", target="_blank")
							span.icon
								i.fa.fa-twitter
							span
								| Follow
					p.control
						a.button.is-primary(href='https://github.com/jgthms/bulma/archive/0.5.1.zip')
							span.icon
								i.fa.fa-envelope 
							span Subscribe


