<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">{% for sheet in site.css %}
    <link rel="stylesheet" href="{{sheet}}">{% endfor %}
    {% for sheet in page.css %}
    <link rel="stylesheet" href="{{sheet}}">{% endfor %}
  </head>
  <body>
    <!--
    [if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]
    -->
    <nav class="navbar">
      <div class="navbar-brand"><a class="navbar-item" href="/">dougie.io</a>
        <div class="navbar-burger burger" data-target="myNav"><span></span><span></span><span></span></div>
      </div>
      <div class="navbar-menu" id="myNav">
        <div class="navbar-start"><a class="navbar-item" href="/blog/">Blog</a><a class="navbar-item" href="/book-notes/">Book Notes</a>
          <div class="navbar-item has-dropdown is-hoverable"><a class="navbar-link" href="/projects/">Projects</a>
            <div class="navbar-dropdown is-boxed">{% for project in site.data.projects %}<a class="navbar-item" href="/projects/{{project.id}}">{{project.title}}</a>{% endfor %}</div>
          </div><a class="navbar-item" href="/book-notes/">Contact</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control"><a class="bd-tw-button button" href="https://twitter.com/@dougbeney" target="_blank"><span class="icon"><i class="fa fa-twitter"></i></span><span>Follow</span></a></p>
              <p class="control"><a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.1.zip"><span class="icon"><i class="fa fa-envelope"> </i></span><span>Subscribe</span></a></p>
            </div>
          </div>
        </div>
      </div>
    </nav>{{content}}
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
             © {{'now' | date: "%Y"}} <a href="https://floemedia.com">FloeMedia</a></p>
        </div>
      </div>
    </footer>{% for script in site.js %}
    <script src="{{script}}"></script>{% endfor %}
    {% for script in page.js %}
    <script src="{{script}}"></script>{% endfor %}
  </body>
</html>