.home-hero
	.text-container: .text
		.theHeading dougie.io
		//- .theSubtitle.hidden tech, business, and lifestyle
		.columns.is-mobile#page-icons
			.column
				a(href="/blog/").circle#blog: span.fa.fa-pencil
				.iconTitle Blog
			.column
				a(href="/projects/").circle#projects: span.fa.fa-suitcase
				.iconTitle Projects
			.column
				a(href="/book-notes/").circle#book-notes: span.fa.fa-bookmark
				.iconTitle Book Notes
			.column
				a(href="/contact/").circle#contact: span.fa.fa-envelope
				.iconTitle Contact

.home-section#blog_section
	h2.sec-title Recent Blog Posts
	include loops/posts
	
.home-section#book-notes_section
	h2.sec-title Recent Book Notes
	include loops/books.pug
	
