---
title: Contact Me
layout: page
---

form(action="https://formspree.io/contact@dougie.io", method="POST")#contact_form
  .container: .columns
    .column: .field
      label.label Name
      .control.has-icons-left.has-icons-right
        input.input(type='text', name="Name" placeholder='Your first or full name', required="")
        span.icon.is-small.is-left
          i.fa.fa-user
    .column: .field
      label.label Email
      .control.has-icons-left.has-icons-right
        input.input(type='email', name="Email", placeholder='Email address', required="")
        span.icon.is-small.is-left
          i.fa.fa-envelope
  .field
      label.label Subject
      .control.has-icons-left.has-icons-right
        input.input(type='text', name="Subject" placeholder='Subject of message', required="")
        span.icon.is-small.is-left
          i.fa.fa-pencil-square-o
  .field
    label.label Message
    .control
      textarea.textarea(placeholder='Enter your message', name="Message", required="")
  .field.is-grouped#submit_button_group
    .control
      button(type="submit").button.is-success#submit_button Send
