---
title: Doug Beney - Dougie's Articles, Notes, Projects & More!
layout: bare
---

style body {padding-bottom: 0; min-height: 0}
#homepage
    .home-header
        p The Website of
        h1 Dougie Beney

    .bio
        .avatar-cont: .avatar
        p.bio-text I've had a strong passion for software development since the age of 12. Check out some of my latest projects here!
    .links
        a(href="/articles") Articles
        a(href="/notes") Thing's I've learned about
        a(href="https://www.instagram.com/dougbeney") Instagram
        a(href="https://www.twitter.com/dougbeney") Twitter
        a(href="/projects") My Projects
        a(href="/contact")#contact Contact Me
