---
title: dougie.io - Coding & Business
layout: base
---

.blog-roll.container
  .columns#tab-columns
    .column
      .tabs.js: ul
        li.item#All.is-active: a All
    .column.is-3
      div(class="control")
        input#search.input(type='text', placeholder='Find a note.')

  .snippets#all-posts
    | {% assign sorted = site.notes | sort: 'date' | reverse %}
    | {% for note in sorted limit: 20 %}
    a.post-snippet(href="{{note.url}}"): .columns.is-mobile
      #icon-col.column
        .
          {% if note.icon %}
            {% assign icon_name = note.icon %}
          {% else %}
            {% assign icon_name = "newspaper-o" %}
          {% endif %}
        span(class="fa fa-{{icon_name}}")
      #date-col.column.is-2
        #day {{ note.date | date: "%e"}}
        #month {{ note.date | date: "%B"}}
        #year {{ note.date | date: "%Y"}}
      #main-col.column
        .title.is-4
          | {{note.title}}
          | {% if note.author %}
          |  by {{ note.author }}
          | {% endif %}
        .excerpt {{ note.content | strip_html | truncatewords:25 }}
    | {% endfor %}
  .snippets#categorized
    //- This will display categorized posts
  .snippets#search-results
    //- This will display search results when user types

  // Storing variables that will be accessed through javascript
  posts-type notes
  posts-per-page 20
  | {% if site.notes.size > 20 %}
  posts-showing 20
  | {% else %}
  posts-showing  {{ site.notes.size }}
  | {% endif %}

  //- Pagination for those with javascript
  nav.pagination.js(role='navigation', aria-label='pagination')
    a.button#pagination-more-button More
