footer.footer
  .container
    .content.has-text-centered
      p
        |  This website is made with&nbsp;
        a(href="https://jekyllrb.com") Jekyll
        |  and&nbsp;
        a(href="https://github.com/DougBeney/jekyll-bliss") Bliss
        | . Edited in&nbsp;
        a(target="_blank", style="color: #9878C0;", href="https://www.gnu.org/software/emacs/") Emacs
        | .
