nav.navbar
	.navbar-brand
		a.navbar-item(href='/') dougie.io
		.navbar-burger.burger(data-target='myNav')
			span
			span
			span
	#myNav.navbar-menu
		// ul.navbar-start
		// 	li.navbar-item: a(href='/articles') Articles
		// 	li.navbar-item: a(href='/projects') Projects
		// 	li.navbar-item: a(href='/favorites') Favorites
		// 	li.navbar-item: a(href='/contact') Contact
		ul.navbar-start
			li: a.navbar-item(href='/articles') Articles
			li: a.navbar-item(href='/projects') Projects
			li: a.navbar-item(href='/favorites') Favorites
			li: a.navbar-item(href='/contact') Contact
		.navbar-end
			.navbar-item
				.field.is-grouped
					p.control
						a.bd-tw-button.button(href="https://twitter.com/@dougbeney", target="_blank", aria-label="Follow Doug on Twitter")
							span.icon
								i.fa.fa-twitter
					p.control
						button.button.is-danger(aria-label="Subscribe to Doug's newsletter")#open_button
							span.icon
								i.fa.fa-envelope 


