---
title: Free Tutorials
layout: base
disable-commenting: true
excerpt: none
---

.container#post_container: .tutorial-index
		h1.title.is-1#page_title {{page.title}}
		#tutorial-roll
			ul
				| {% for tut in site.data.tutorials %}
				li
					a(href="/tutorials/{{tut.slug}}")
						.
							{% if tut.icon %}
								{% assign icon_name = tut.icon %}
							{% else %}
								{% assign icon_name = "book" %}
							{% endif %}
						span(class="fa fa-{{icon_name}}")
						| {{tut.title}}
				| {% endfor %}
