---
---

.js
  display: none // Don't show until js is loaded

*
  font-family: 'Noto Serif SC', georgia, serif

// Tag used to store variable on home page
posts-type, posts-per-page, posts-showing
  display: none

a:hover
  color: black

@import "nav"
@import "blog-roll"
@import "post"
@import "page"
@import "dracula"

pre
  background: #282A36
  color: #fff
