doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title {{page.title}}
		meta(name="description" content="{{page.description}}")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="apple-touch-icon" href="apple-touch-icon.png")

		| {% for sheet in site.css %}
		link(rel="stylesheet" href="{{sheet}}")
		| {% endfor %}

		| {% for sheet in page.css %}
		link(rel="stylesheet" href="{{sheet}}")
		| {% endfor %}
		
	body
		| {% unless page.nonav == true %}
		include ../_includes/nav
		| {% endunless %}

		| {{content}}

		include ../_includes/footer

		include ../_includes/newsletter-modal

		| {% for script in site.js %}
		script(src="{{script}}")
		| {% endfor %}

		| {% for script in page.js %}
		script(src="{{script}}")
		| {% endfor %}
