doc
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    title {{page.title}}
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900|Noto+Serif+SC")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.7.2/pulse/bulmaswatch.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body {{content}}
