---
layout: base
---

mixin TheTutorial
	| {% for tut in site.data.tutorials %}
	| {% capture tut_url %}/tutorials/{{tut.slug}}/index{% endcapture %}
	| {% if tut_url == page.url %}
	block
	| {% endif %}
	| {% endfor %}

mixin for(condition)
	| {% for !{condition} %}
	block
	| {% endfor %}

.container#post_container
	.tutorial-index: +TheTutorial
		h1.title.is-1#page_title {{tut.title}}
		h3.title.is-3#page_subtitle {{tut.description}}

		+for('chapter in tut.chapters')
			ul.chapter
				.chapter-title {{chapter.title}}
				+for('unit in chapter.units')
					li.unit
						a(href="/tutorials/{{tut.slug}}/{{chapter.slug}}/{{unit.slug}}") {{unit.title}}

		| {% if page.coming-soon %}
		p More content coming soon!
		| {% endif %}

