---
title: Book Notes
layout: base
---


.container#book_container
	h1.title.is-1#page_title {{page.title}}

	| {% unless site.book-notes.size == 0 %}
	include loops/books
	| {% else%}
	h3.sec-subtitle No book notes (yet)
	| {% endunless %}
